<h1>Add data to researcher graph</h1>
<form action="/organisation/researcher/add-data" method="POST">
    <input type="text" name="state" placeholder="state">
    <input type="text" name="disease" placeholder="disease">
    <button>add</button>
</form>