@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

a:link,
a:hover {
    text-decoration: none !important;
}

.bg-main {
    background: #0f4c75 !important;
}

.text-main {
    color: #0f4c75 !important;
}

.bg-accent {
    background: #3282b8 !important;
}

.text-accent {
    color: #3282b8;
}

.roundness {
    border-radius: 30px !important;
}

.btn {
    padding: 0.7rem !important;
}

/* ::-webkit-scrollbar {
    width: 5px;
} */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3282b8;
}

.big-btn {
    padding: 20px !important;
    border-radius: 40px !important;
    background: #0f4c75 !important;
    color: #fff !important;
    font-size: 20px !important;
}

body {
    /* background-image: url('bg1.jpg'); */
    background-size: cover;
    background-position: top;
    text-align: center;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

/* Footer */

.fixed-bottom {
    height: 50px;
    background-color: #3282b8;
    color: black;
}


/* Submit button common to all pages */

.submit-btn {
    background: #0f4c75 !important;
    color: #fff !important;
}

.submit-btn:hover {
    background: linear-gradient(30deg, #0f4c75, #3282b8) !important;
    /* border: 1px solid #0f4c75; */
}

.prof-icon {
    opacity: 0.65;
}

/* ---- Login Page ---- */
@media (max-width: 1000px) {
    .login-svg {
        display: none;
    }
}

@media (max-width: 1100px) {
    .professionals {
        margin-top: -50px;
    }
}

@media (min-width: 1500px) {
    .professionals {
        margin-top: 50px;
    }
}

.head-svg {
    margin-top: 25px;
}

@media only screen and (max-width:500px) {
    .head-svg {
        margin-top: 10px;
    }
}


.portal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.btn-prof {
    height: 180px;
    width: 180px;
    margin-left: 20px;
    margin-top: 100px;
    background-color: rgba(50, 130, 184, 0.3);
}

.btn-prof:hover {
    background: rgba(50, 130, 184, 0.15);
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(250, 250, 250, 1);
}

.hiddenInp {
    visibility: hidden;
}

.prof-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hiddenInp {
    visibility: hidden;
}


.btn-prof:hover {
    box-shadow: 0px 0px 10px #888888;
}

nav .nav-tabs {
    border-bottom: 0;
}

nav .nav-tabs .nav-item {
    background: #0f4c75 !important;
    color: white;
    border: none;
    margin: 5px;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
}

nav .nav-tabs .active {
    background: #fff !important;
    color: #0f4c75 !important;
    border: none;
    font-weight: bold;
}


.fixed-bottom {
    height: 50px;
    background: none;
}

input[type="text"]:disabled {
    background: #f5f5f5 !important;
}

select {
    display: block;
    background-color: #edf3f5;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    max-width: 100%;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .6);
    border-radius: 1.0em;

}

@media (min-width: 1200px) {
    .application-table {
        margin-left: -15%;
    }
}