<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css?h=a8d4bee654e7f373adc6e3ffc7b44ff5">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>eAarogya</title>
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-main">
    <a class="navbar-brand" href="/">
        <img width="140" src="/images/navLogo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <% if(!user) {%>
            <li class="nav-item">
                <a href="/login" class="btn shadow-lg text-white p-3 roundness mr-4"><%=__('login')%></a>
            </li>
            <%}%>
            <li class="nav-item active">
                <div class="dropdown">
                    <button class="btn dropdown-toggle text-white mr-4 p-3 shadow-lg roundness" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-language mr-1"></i> <%=lang%>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/en">English</a>
                <a class="dropdown-item" href="/hi">हिंदी</a>
                <a class="dropdown-item" href="/ka">ಕನ್ನಡ</a>
            </div>
    </div>
    </li>
    <% if(user) {%>
    <li class="nav-item">
        <a href="/logout" class="btn shadow-lg text-white p-3 roundness">Log Out</a href="/logout"
            style="border: 1px solid #0f4c75 !important;">
    </li>
    <%}%>
        </ul>
    </div>
</nav> 