<%-include("../../partials/header.ejs")%>

<body>
  <div class="row justify-content-center align-items-center" style="height: 70%">
    <div
      class="col-sm-10 col-md-7 col-xl-5 row align-items-center justify-content-center bg-white shadow p-2 mt-5 roundness">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="/images/aadhaar.png" alt="aadhaar">
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <form class="user" action="/user/register-user" method="post">
          <div class="form-group">
            <label for="aadhaarNum" class="h5 text-main font-weight-bold text-center"><%=__('enterAadhaar')%></label>
            <input class="form-control form-control-user" type="text" name="aadhaarNum" id="aadhaarNum">
          </div>
          <button class="btn bg-main btn-block text-white btn-user"><span class="h6">Submit</span></button>
        </form>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute; bottom: 0; z-index:-1">
    <path fill="#0f4c75" fill-opacity="1"
      d="M0,192L48,208C96,224,192,256,288,240C384,224,480,160,576,154.7C672,149,768,203,864,224C960,245,1056,235,1152,197.3C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>

</body>

<%- include("../../partials/footer.ejs") %>